<?xml version="1.0" encoding="UTF-8"?>
<!-- dev mode -->
<configuration scan="true" scanPeriod="30 seconds">
	<!-- console로 log 남기기 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				▶ %-5level %d{HH:mm:ss} [%thread] %logger[%method:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="consoleForLoginInterceptor" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				▷ %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!-- file로 log 남기기 -->
	<!-- <appender name="file" class="ch.qos.logback.core.FileAppender"> <file>/home/ppcd/logs/appSvrFile.log</file> <encoder> <pattern> ▶ %-5level %LoginController{HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n
		</pattern> </encoder> </appender> -->

	<logger name="jdbc.sqlonly" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
	</logger>

	<logger name="jdbc.resultsettable" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
	</logger>

	<!-- 이 아래에 있는 애들 다 log로 찍겠다. -->
	<logger name="org.springframework" level="warn" />
	<logger name="kr.co.paywith.admin" level="debug" />

	<root level="info">
		<appender-ref ref="console" />
		<!-- <appender-ref ref="rollingFile" /> -->
	</root>

</configuration>